<h1>Кошик</h1>
<%= link_to 'Перейти до оплати', new_payment_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Назва товару</th>
      <th>Кількість</th>
      <th>Ціна за одиницю</th>
      <th>Загальна ціна</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity * item.product.price %></td>
        <td>
          <%= link_to 'Видалити', cart_item_path(item), method: :delete, data: { confirm: "Ви впевнені?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
